# The folder in which the weekly menus are located
shopping_folder=FOLDER

# The template for the output filename for the weekly menu
output_filename_template="prefix {date_string} suffix.docx"

# Used to generate the QR code and determine the box size
box_size=20

# If set to 1, the original pre-Qr code file will be overwritten,
# else the string "-no-qr" will be appended before the file extension
overwrite_original=1|0